* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #777;
  color: #222;
}
.transformationlist {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
}
.transformation {
  background: #444;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.transformation img {
  border-radius: 20px;
}

.transformation h1 {
  margin-top: 0.5rem;
}

.transformation h4 {
  letter-spacing: 5px;
  color: #fff;
  font-size: 1rem;
  margin-top: 5px;
}
.transformation p {
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .transformationlist {
    grid-template-columns: repeat(3, 1fr);
  }
}
